<% if @schedule.errors.any? %>
    <div class="form_error">
        <% @schedule.errors.full_messages.each do |message| %>
            <ul>
                <li><%= message %></li>
            </ul>
        <% end %>
    </div>
<% end %>